<h3 class="font-weight-bold text-center">{{ pageTitle }}</h3>
<br>
<div class="container">

    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="heading">
          <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
            News
          </a></h5>
        </div>

        <div id="collapse1" class="collapse">
          <div class="card-body">
              Allscripts will report its financial results for the three months ended March 31, 2018, after the close of stock market hours on Thursday, May 3, 2018. Allscripts management plans to host a conference call and webcast to discuss the company's earnings and other information at 4:30 p.m. Eastern Time that same day.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="heading">
          <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
            Events
          </a></h5>
        </div>

        <div id="collapse2" class="collapse">
          <div class="card-body">
              Join thought-leaders from Israel and the US together with Allscripts Innovations leadership, and Matter Health Chicago to network and learn about creating innovative, integrated solutions that address common challenges in global healthcare markets.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="heading">
          <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
            ACMA
          </a></h5>
        </div>

        <div id="collapse3" class="collapse">
          <div class="card-body">
              Join more than 2,000 of your peers in case management and transitions of care, April 24–27, at the George R. Brown Convention Center for high-quality education, networking and an investment in your future.          
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="container text-center">
 <button class="btn btn-primary d-block mb-4" data-toggle="collapse" data-target="#collapse-btn-1">More News</button>

 <div class="collapse mb-5" id="collapse-btn-1">
   <div class="card">
     <div class="card-body">
        We’re bringing the power of Sunrise into the OR with seamless EHR integration and a single, comprehensive patient record.
     </div>
   </div>
 </div>



