 
<h3 class="font-weight-bold text-center m-b-1">{{ pageTitle }}</h3>
<br><br>
<div class="container">

  <form class="form-inline text-left">
      <input type="text" class="form-control mr-2" id="username" placeholder="Enter username">
      <input type="text" class="form-control mr-2" id="password" placeholder="Password">
      <div class="form-check">
          <label class="form-check-label mr-2">
              <input type="checkbox" class="form-check-input"> Remember me
          </label>
      </div>

      <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
  <br><br>
</div>