<h3 class="font-weight-bold text-center m-b-1">{{ pageTitle }}</h3>
<div class="container">
    <form>
        <div class="form-group">
            <label for="name" class="text-secondary font-italic font-weight-bold">Name</label>
            <input type="text" id="name" class="form-control form-control-md" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="email" class="text-secondary font-italic font-weight-bold">Email address</label>
            <input type="email" id="email" class="form-control form-control-md" placeholder="Enter email">
            <small class="form-text text-muted">Your email will not be shared with anyone</small>
        </div>
        <div class="form-group">
            <label for="password" class="text-secondary font-italic font-weight-bold">Password</label>
            <input type="password" id="password" class="form-control form-control-md" placeholder="Password" readonly>
        </div>
        <div class="form-group">
            <label for="gender" class="text-secondary font-italic font-weight-bold">Gender</label>
            <select id="gender" class="form-control form-control-md">
            <option>Male</option>
            <option>Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="message" class="text-secondary font-italic font-weight-bold">Message</label>
            <textarea id="message" rows="3" class="form-control form-control-md"></textarea>
        </div>
        <div class="form-group">
            <label for="file"class="text-secondary font-italic font-weight-bold">File input</label>
            <input type="file" id="file" class="form-control-file">
            <small id="fileHelp" class="form-text text-muted">Max 3mb size</small>
        </div>
          <!-- FORM CHECK -->
          <fieldset class="form-group">
            <legend class="text-secondary font-italic font-weight-bold">What are you using this service for?</legend>
            <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Business" checked>
                  Personal
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Corporate" checked>
                  Commercial Use
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="Personal" checked>
                  Testing
              </label>
            </div>
        </fieldset>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
                Sign up for newsletter
            </label>
        </div>
        <p></p>
        <p></p>
        <button class="btn btn-secondary" type="submit" [routerLink]="['/Form']">Submit</button>
    </form>
  </div>