<h3 class="font-weight-bold text-center m-b-1">{{ pageTitle }}</h3>
<div class="container">
<ul class="list-group mb-5">
    <li class="list-group-item d-flex justify-content-between align-items-center">Hospital and Health Systems<span class="badge badge-warning">20</span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Physician and Community Practices<span class="badge badge-warning">30</span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Life Sciences and Health Plans<span class="badge badge-warning">35</span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">e-Priscribe<span class="badge badge-warning">20</span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">New Markets<span class="badge badge-warning">5</span></li>
</ul>
</div>
