<div class="card bg-dark text-white">
    <img class="card-img" src="http://lorempixel.com/900/200/sports/">
    <div class="card-img-overlay">
        <h4 class="card-title">Building Open, Connected Communities of Health</h4>
        <p class="card-text">Building Open, Connected Communities of Health. This communities are Interoperable communities of Health</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<br> <br> <br>


  <div class="card">
      <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Disabled</a>
          </li>
          </ul>
      </div>
      <div class="card-body">
          <h4 class="card-title">
               Giving back, to our community and to our world</h4>
          <p class="card-text text-dark">Our goal is to consistently raise awareness about issues across the globe. To that end, we give our team the tools and time to make a significant impact on causes close to their hearts..</p>
          <a href="#" class="btn btn-primary text-dark">Read More</a>
      </div>
  </div>

    
    
    <br><br>
