
<label class="text-secondary font-italic font-weight-bold">What are you looking for?</label>
<div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Search</button>
    </span>
</div>
<br> 

<label class="text-secondary font-italic font-weight-bold">User Name</label>
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text text-secondary font-weight-bold" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <br>

  <label class="text-secondary font-italic font-weight-bold">User Name</label>
  <div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text text-secondary font-weight-bold" id="basic-addon2">@example.com</span>
    </div>
  </div>
   <br>

   <label class="text-secondary font-italic font-weight-bold">Your URL</label>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text text-secondary font-weight-bold" id="basic-addon3">https://thescripts.com/users/</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  <br>
  <label class="text-secondary font-italic font-weight-bold">Amount to re-charge for?</label>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text text-secondary font-weight-bold">$</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text font-weight-bold text-secondary">.00</span>
    </div>
  </div>
  <br>
  <label class="text-secondary font-italic font-weight-bold">What do you think about us?</label>
  <div class="input-group input-group-sm">
    <div class="input-group-prepend input-group-sm">
      <span class="input-group-text text-secondary font-weight-bold">Comments</span>
    </div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
  <br>
  
