<h3 class="font-weight-bold text-center">{{ pageTitle }}</h3>
<br>
<div class="text-left">
    <h6>
       Clinical Leaders - Board of Directors
    </h6> 
  </div>

 <table class="table table-sm table-hover table-striped table-bordered">
  <thead class="thead-dark">
      <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>Jean</td>
          <td>Doe</td>
          <td>jdoe@thescripts.com</td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>Anna</td>
          <td>Johnson</td>
          <td>anna@thescripts.com</td>
      </tr>
      <tr>
          <th scope="row">4</th>
          <td>Jennifer</td>
          <td>Williams</td>
          <td>jennifer@thescripts.com</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jeoff</td>
        <td>Delatte</td>
        <td>jeoff@thescripts.com</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Paul</td>
      <td>Leroux</td>
      <td>paul@thescripts.com</td>
  </tr>
  </tbody>
</table>

<br>
<nav>
  <ul class="pagination justify-content-center pagination-sm text-light">
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/Table']">2</a></li>
      <li class="page-item"><a class="page-link"  [routerLink]="['/Table']">3</a></li>
      <li class="page-item"><a class="page-link"  [routerLink]="['/Table']" >4</a></li>
      <li class="page-item"><a class="page-link"  [routerLink]="['/Table']">5</a></li>
      <li class="page-item"><a class="page-link"  [routerLink]="['/Table']">Next</a></li>
  </ul>
</nav>