<h3 class="font-weight-bold text-center m-b-1">{{ pageTitle }}</h3>
<div class="container">
  <p class="font-weight-bold m-b-0">Validation messages</p>
 <div class="form-group">
  <label for="username">Username</label>
  <input type="text" id="username" class="form-control is-valid">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="text" id="password" class="form-control is-invalid">
  <div class="invalid-feedback">
    Password not strong enough
  </div>
</div>
<div class="form-group">
  <label for="password2">Confirm Password</label>
  <input type="text" id="password2" class="form-control is-invalid">
  <div class="invalid-feedback">
    Password does not match
  </div>
</div>
</div>
<br>

<div class="container">
<p class="font-weight-bold m-b-0">Messages and Notifications</p>
<div class="alert alert-danger">
    <strong>Danger</strong> Please check the log files <a href="" class="alert-link">Read More</a>
</div>

<div class="alert alert-info">
    <strong>Info</strong> You have a new message
</div>
<br><p class="font-weight-bold m-b-0">Dismissable messages<span class="text-muted text-size-sm font-italic">
       (You can click the cross on right and dismiss the message)</span></p>
<div class="alert alert-success alert-dismissible fade show">
    <button class="close" data-dismiss="alert" type="button">
        <span>&times;</span>
    </button>
    <strong>Dismissable</strong> The Record added sucessfully
</div>
<br>
<p class="font-weight-bold m-b-0">Progess Bar</p>
<div class="progress">
    <div class="progress-bar bg-success" style="width:55%;"></div>
</div>
<br><p class="font-weight-bold m-b-0" >Animated Progess Bar</p>

<div class="progress">
    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:95%;"></div>
</div>
</div>
<br><br>


